doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p 
      a(href="/home") Home 
      a(href="/") Express
      a(href="/produto/produto01") Produtos 1
      a(href="/produto/produto02") Produtos 2
      a(href="/produto/produto03") Produtos 3
      a(href="/produto/produto04") Produtos 4
      a(href="/produto/produto05") Produtos 5
    block content
